<section>
  <div class="container-fluid  text-center title">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-lg-offset-4">
        <h3>Cart</h3>
        <div class="line"></div>
      </div>
    </div>
  </div>

  <div>
    <div>
      <form id="my-sample-form" class="cart-checkout">
        <input type="hidden" name="payment_method_nonce">
        <label for="card-number">Card Number</label>
        <div id="card-number" class="cart-div"></div>

        <label for="cvv">CVV</label>
        <div id="cvv" class="cart-div"></div>

        <label for="expiration-date">Expiration Date</label>
        <div id="expiration-date" class="cart-div"></div>

        <input id="my-submit" type="submit" value="Pay" disabled/>
      </form>
    </div>
  </div>
</section>