<div class="login-page">
  <section>
    <div class="container-fluid  text-center title">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-lg-offset-4 cart-page-header">
          <i style="display: inline-block" class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
          &emsp;<h3 style="display: inline-block">MY CART</h3>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid reset-password-cart">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-10 col-md-10">
          <div>
            <h4 class="subTitle">RESET YOUR PASSWORD</h4>
          </div>
          <div class="line"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-10 instruction">
          <span>PLEASE ENTER YOUR EMAIL ADDRESS BELOW, YOU WILL RECEIVE A LINK TO RESET YOUR PASSWORD</span>
          <div class="login-container text-left">
            <div ng-hide="$ctrl.successRequest">
              <div ng-show="$ctrl.error" class="error-message afade text-left">
                <span>ERROR: </span>{{$ctrl.error}}
              </div>
              <input type="text" ng-focus="$ctrl.error = false" ng-model="$ctrl.email" name="email"
                     placeholder="EMAIL ADDRESS">
            </div>
            <div class="login-btn" style="padding: 30px 0 40px;">
              <button ng-click="$ctrl.onSendLoginClick()" class="btn" style="padding: 15px 50px;">
                SUBMIT
              </button>
              <button ng-click="$ctrl.goBack()" class="btn btn-success btn-lg center-block white-btn">GO BACK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>