<section ng-init="$ctrl.init()">
  <div class="container-fluid  text-center title">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-lg-offset-4 cart-page-header">
        <i style="display: inline-block" class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
        &emsp;<h3 style="display: inline-block">MY CART</h3>
      </div>
    </div>
  </div>
</section>
<section class="cart-thank-page">
  <div class="cart-thank">
    <h4><strong>THANK YOU FOR YOUR PURCHASE</strong></h4>
    <div class="thank-text">
      <span>YOU WILL RECEIVE AN ORDER CONFORMATION EMAIL WITH DETAILS OF YOUR PURCHASE</span>
    </div>
    <div class="thank-text">
      <span>CLICK HERE TO DOWNLOAD</span>
    </div>
  </div>
  <button class="btn">DOWNLOAD</button>
</section>