<update-title title="The Color Naming Index"></update-title>
<!--<update-meta name="description" content="color index, color decision tools, color analysis tools"></update-meta>-->
<!--<update-meta name="keywords" content="Color Emotion Connections index, color emotions, color emotion theory,-->
<!--color and emotion research, color emotion associations, Color Celebrity index, Color Naming index, Color Names Index,-->
<!--Color Preference Index, Global Colors index, Color in Soccer index, Color Twits Index, color dictionary, Color social media"></update-meta>-->

<h4 class="text-left membership-product">HUEDATA MEMBERSHIP PRODUCT</h4>

<section id="color-emotion-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="color-ind">Color Indices - AVAILABLE FALL 2018</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 buttons-group title-color-index-block">
        <div class="title-color-index">The Color Naming Index</div>
        <div class="button membership">
          <button class="btn white-btn" ui-sref="productInquiry">PRODUCT INQUIRY</button>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</section>

<section class="color-naming-info">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-2 col-md-2"></div>
      <div class="col-md-8 col-lg-8 center">
        <div class="color-naming-info-part_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae laudantium modi molestias nihil, nostrum
          quae quisquam sed vitae voluptatem! Aspernatur aut culpa dolorum, eius impedit nam placeat quidem saepe
          voluptate.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae laudantium modi molestias nihil, nostrum
          quae quisquam sed vitae voluptatem! Aspernatur aut culpa dolorum, eius impedit nam placeat quidem saepe
          voluptate
        </div>
        <div class="color-naming-info-part_text">Animi architecto aspernatur atque debitis delectus deleniti distinctio dolor enim est eum, facilis, fugit
          ipsum laboriosam neque nisi placeat quia quis reprehenderit velit voluptates. Accusantium asperiores earum sed
          voluptatum? Delectus!
        </div>
        <div class="color-naming-info-part_text">Architecto dignissimos ducimus ea in magni suscipit, tempora veritatis! A aliquid id officiis quam unde. At
          nihil optio quaerat quod reprehenderit ullam. Assumenda deserunt et, incidunt minima minus saepe tenetur?
        </div>
      </div>
      <div class="col-lg-2 col-md-2"></div>
    </div>
  </div>
</section>