<section>
  <div class="container-fluid  text-center title" ng-init="$ctrl.init()">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Goods Reads</h3>
        <div class="line"></div>
      </div>
      <div class="col-lg-2">
        <div class="button membership">
          <button class="btn" ui-sref="membership({scrollTo: true})">MEMBERSHIP</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid text-left course goods-reads-min-h">
    <div class="row" ng-repeat="group in $ctrl.groups">
      <div class="col-lg-4 col-md-6 col-sm-12 item" ng-repeat="item in group">
        <a ng-href="{{item.link}}"
           target="_blank"
           rel="nofollow">
          <div class="img-responsive background-image"
               style="background: {{'url(' + item.image_url +') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #e1e1e126;
                    padding-bottom: 56%;"
          >
          </div>
        </a>
        <h5>{{item.header}}</h5>
        <div class="justify">
          <p class="two_line_height" style="display: block" data-ng-bind-html="item.description" data-ellipsis
             data-ellipsis-symbol="... "
             data-ellipsis-append="<a>Read more</a>"
             data-ellipsis-append-click="$ctrl.toggleTextHeight"
          ></p>
        </div>
      </div>
    </div>
    <div class="row" ng-if="$ctrl.pageData.length > $ctrl.groups.length * 3">
      <div class="col-lg-12 text-center">
        <div class="viewmore"><a ng-click="$ctrl.more()">view more</a></div>
      </div>
    </div>
  </div>
</section>
