<update-title title="The Color Naming Index"></update-title>
<!--<update-meta name="description" content="color index, color decision tools, color analysis tools"></update-meta>-->
<!--<update-meta name="keywords" content="Color Emotion Connections index, color emotions, color emotion theory,-->
<!--color and emotion research, color emotion associations, Color Celebrity index, Color Naming index, Color Names Index,-->
<!--Color Preference Index, Global Colors index, Color in Soccer index, Color Twits Index, color dictionary, Color social media"></update-meta>-->

<h4 class="text-left membership-product">HUEDATA MEMBERSHIP PRODUCT</h4>
<section id="color-emotion-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="color-ind">Color Indices - AVAILABLE FALL 2018</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 buttons-group title-color-index-block">
                <div class="title-color-index">The Color Naming Index</div>
                <div class="button membership">
                    <button class="btn white-btn" ui-sref="productInquiry">PRODUCT INQUIRY</button>
                </div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</section>

<section class="bg-color-picker-block">
    <div class="container-fluid">
        <div class="row">
            <div ng-controller="AccordionCtrl">
                <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="color-index-accordion-title">
                        <uib-accordion-heading>
                            {{$ctrl.similarDarkenColors.length + $ctrl.similarDarkenColors.length}} COLOR ASSOCIATION NAMES <i class="pull-right glyphicon"></i>
                        </uib-accordion-heading>
                        <div class="color-index-accordion-item">
                            <div ng-repeat="similarColor2 in $ctrl.similarDarkenColors">
                                <div style="width: 40px; height: 40px; background: {{similarColor2}}"></div>
                            </div>
                            <div ng-repeat="similarColor1 in $ctrl.similarSaturateColors">
                                <div style="width: 40px; height: 40px; background: {{similarColor1}}"></div>
                            </div>
                        </div>
                    </div>
                    <div uib-accordion-group class="color-index-accordion-title">
                        <uib-accordion-heading>
                            {{$ctrl.colorsData.length}} PAINT COLOR NAMES
                            <!--<div>-->
                                <!--Fruit List:-->
                                <!--<select ng-model="cart.fruit" ng-options="num as num for num in numbers"></select>-->
                                <!--<br/>-->
                                <!--<tt>Cost & Fruit selected: {{cart.fruit}}</tt>-->
                            <!--</div>-->
                            <!--<div class="col-xs-4">-->
                                <!--<label>items per page:</label>-->
                                <!--<select ng-model="pageSize" ng-options="num for num in [5, 10, 15,20]" ></select>-->

                            <!--</div>-->
                            <i class="pull-right glyphicon"></i>
                        </uib-accordion-heading>
                        <div class="color-index-accordion-items">
                            <select ng-model="pageSize" ng-options="num for num in [80, 160, 320, 'ALL']" id="pageSize" class="form-control selectPerPage" style="position: relative;left: 240px;top: -55px;"></select>
                            <ul>
                            <div class="color-index-accordion-item">
                                <div class='checkboxes-accordion' ng-repeat="color in $ctrl.colorsData | limitTo:pageSize ">
                                    <div class="checkbox-accordion-item">
                                        <label class="title-checkbox-accordion"></label>
                                        <input type="checkbox" class="option-input checkbox"
                                               style="background: rgb({{color.rgb}});"/>
                                        <span class="checkbox-accordion_text">{{color.name}}</span>
                                        <span class="checkbox-accordion_small_text">{{color.rgb}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="container" ng-if="$ctrl.colorsData">
                                <div class="row">
                                    <div class="button accordion-button">
                                        <a class="btn join-btn" ui-sref='colorIndexAccordion'>NEXT TEST</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div uib-accordion-group class="color-index-accordion-title">
                        <uib-accordion-heading>
                            139 COLOURLOVERS COLOR NAMES <i class="pull-right glyphicon"></i>
                        </uib-accordion-heading>
                        <div class="color-index-accordion-item">
                            This is just some content to illustrate fancy headings
                        </div>
                    </div>
                    <!--<div uib-accordion-group class="color-index-accordion-title">-->
                    <!--<uib-accordion-heading>-->
                    <!--18 RESEARCH COLOR NAMES <i class="pull-right glyphicon"></i>-->
                    <!--</uib-accordion-heading>-->
                    <!--<div class="color-index-accordion-item">-->
                    <!--<img class="img-accordion img-responsive img50" alt="Image" src="../../../assets/images/accordion-color-music.png">-->
                    <!--</div>-->
                    <!--</div>-->

                    <div ng-if="$ctrl.searchColorName === undefined" uib-accordion-group class="color-index-accordion-title">
                        <uib-accordion-heading>
                            COLOR MOSAIC FOR (COLOR NAME) <i class="pull-right glyphicon"></i>
                        </uib-accordion-heading>
                        <div class="color-index-accordion-item">
                        </div>
                    </div>
                    <div ng-if="$ctrl.searchColorName" uib-accordion-group class="color-index-accordion-title">
                        <uib-accordion-heading>
                            CROSS LIBRARY WORD CLOUD <i class="pull-right glyphicon"></i>
                        </uib-accordion-heading>
                        <div class="color-index-accordion-item" ng-if="$ctrl.colorsData">
                            <div id="chart"></div>
                        </div>
                    </div>
                </uib-accordion>
            <div class="container">
                <div class="row">
                    <div class="button accordion-button">
                        <a class="btn join-btn" ui-sref='colorIndexSearch'>NEW SEARCH</a>
                    </div>
                </div>
            </div>
            <!--<div>-->
            <!--<ul>-->
            <!--<li class="color-index-accordion-title" ng-repeat="item in items" ng-click="clickItemAccordion(item)">-->
            <!--{{item.name}}<i class=" fa float-right arrow-up-down" ng-class="{'arrow-up-down': !isOpen, 'down-arrow-up': isOpen}"></i>-->
            <!--&lt;!&ndash;<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>&ndash;&gt;-->
            <!--<div class="color-index-accordion-item" ng-show="accordion.current == item.name">-->
            <!--<div ng-repeat="sub in item.sub"> <div ng-bind-html='sub.name' ></div></div>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
</section>
