<update-title title="The Color Naming Index"></update-title>
<!--<update-meta name="description" content="color index, color decision tools, color analysis tools"></update-meta>-->
<!--<update-meta name="keywords" content="Color Emotion Connections index, color emotions, color emotion theory,-->
<!--color and emotion research, color emotion associations, Color Celebrity index, Color Naming index, Color Names Index,-->
<!--Color Preference Index, Global Colors index, Color in Soccer index, Color Twits Index, color dictionary, Color social media"></update-meta>-->
<meta charset="utf-8">  <!-- it's important for d3.js -->
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/d3-cloud/build/d3.layout.cloud.js"></script>
<script src="bower_components/angular-d3-word-cloud/dist/angular-word-cloud.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<!--<script src="cloud.js"></script>-->
<!--Chroma.js-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>-->

<h4 class="text-left membership-product">HUEDATA MEMBERSHIP PRODUCT</h4>

<!--Chroma.js-->
<!--<style>-->
    <!--label {-->
        <!--display: block;-->
    <!--}-->
    <!--.color-scheme,-->
    <!--.color-scale {-->
        <!--margin: 3rem auto;-->
        <!--padding: 0;-->
        <!--list-style: none;-->
        <!--overflow: hidden;-->
    <!--}-->
    <!--.color-scheme li {-->
        <!--width: 10rem;-->
        <!--height: 10rem;-->
        <!--float: left;-->
        <!--position: relative;-->
    <!--}-->
    <!--.color-scale li {-->
        <!--width: 5rem;-->
        <!--height: 5rem;-->
        <!--float: left;-->
        <!--position: relative;-->
        <!-- -webkit-transition: opacity 0.3s ease-in-out;-->
        <!-- -moz-transition: opacity 0.3s ease-in-out;-->
        <!--transition: opacity 0.3s ease-in-out;-->
        <!--cursor: pointer;-->
    <!--}-->
    <!--.color-scale li:hover {-->
        <!--opacity: 0.8;-->
    <!--}-->
    <!--.color-info {-->
        <!--position: absolute;-->
        <!--padding: .5rem;-->
        <!--background-color: #FFF;-->
        <!--top: 50%;-->
        <!--left: 50%;-->
        <!--transform: translate(-50%, -50%);-->
        <!--border-radius: 5px;-->
        <!--font-size: 85%;-->
        <!--text-align: center;-->
    <!--}-->
    <!--.color-info span {-->
        <!--display: block;-->
    <!--}-->
<!--</style>-->


<section id="color-emotion-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="color-ind">Color Indices - AVAILABLE FALL 2018</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 buttons-group title-color-index-block">
        <div class="title-color-index">The Color Naming Index</div>
        <div class="button membership">
          <button class="btn white-btn" ui-sref="productInquiry">PRODUCT INQUIRY</button>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </div>
</section>

<section class="bg-color-picker-block">
  <div class="container-fluid">
    <div class="row">

        <div id="wordsCloud">
            <word-cloud words="ctrl.words" width="ctrl.width" height="ctrl.height"
                        padding="10"
                        rotate="ctrl.rotate"
                        random="ctrl.random"
                        use-tooltip="ctrl.useTooltip"
                        use-transition="ctrl.useTransition"
                        on-click="ctrl.wordClicked">
            </word-cloud>
        </div>

        <script>
            var text_string = "\"melody pink\"\n" +
                "\"ash pink\"\n" +
                "\"tearose pink\"\n" +
                "\"go go pink\"\n" +
                "\"lazer pink\"\n" +
                "\"pouf of pink\"\n" +
                "\"clove pink\"\n" +
                "\"affinity pink\"\n" +
                "\"lotus pink\"\n" +
                "\"pink ballet\"\n" +
                "\"bulgarian pink\"\n" +
                "\"lullaby pink\"\n" +
                "\"blossom pink\"\n" +
                "\"southern pink\"\n" +
                "\"sea shell pink\"\n" +
                "\"cheerio pink\"\n" +
                "\"pink scallop\"\n" +
                "\"fire pink\"\n" +
                "\"hot pink kiss\"\n" +
                "\"pink lavender\"\n" +
                "\"canyon pink\"\n" +
                "\"pink lilac\"\n" +
                "\"pink purple\"\n" +
                "\"veil pink\"\n" +
                "\"little girl pink\"\n" +
                "\"heather pink\"\n" +
                "\"tatiana pink\"\n" +
                "\"little pinky\"\n" +
                "\"novel pink\"\n" +
                "\"sleeping pink\"\n" +
                "\"carnival pink\"\n" +
                "\"pink dogwood\"\n" +
                "\"prism pink\"\n" +
                "\"very pink\"\n" +
                "\"sand pink\"\n" +
                "\"cyclamen pink\"\n" +
                "\"candytuft pink\"\n" +
                "\"a livid pink\"\n" +
                "\"aster pink\"\n" +
                "\"magenta pink\"\n" +
                "\"pink sky\"\n" +
                "\"feather pink\"\n" +
                "\"exuberant pink\"\n" +
                "\"pink nutmeg\"\n" +
                "\"skyline pink\"\n" +
                "\"ballerina pink\"\n" +
                "\"indian pink\"\n" +
                "\"pinking of you\"\n" +
                "\"pink cloud\"\n" +
                "\"chalky pink\"\n" +
                "\"pink azalea\"\n" +
                "\"passionate pink\"\n" +
                "\"sprinting pink\"\n" +
                "\"apricot pink\"\n" +
                "\"saltmarsh pink\"\n" +
                "\"pink parfait\"\n" +
                "\"sleepy pink\"\n" +
                "\"pink marzipan\"\n" +
                "\"cupid pink\"\n" +
                "\"pink charade\"\n" +
                "\"nasturtium pink\"\n" +
                "\"hunting pink\"\n" +
                "\"pink masterpiece\"\n" +
                "\"vermiel pink\"\n" +
                "\"caramel pink\"\n" +
                "\"aruba pink\"\n" +
                "\"chelsea pink\"\n" +
                "\"pink canterbury\"\n" +
                "\"balranald pink\"\n" +
                "\"lilac pink\"\n" +
                "\"madrid pink\"\n" +
                "\"pink light\"\n" +
                "\"pink corsage\"\n" +
                "\"new pink\"\n" +
                "\"pink clematis\"\n" +
                "\"oxalis pink\"\n" +
                "\"pink angora\"\n" +
                "\"pink ruff\"\n" +
                "\"wild pink\"\n" +
                "\"opal pink\"\n" +
                "\"privacy pink\"\n" +
                "\"begonia pink\"\n" +
                "\"cheeky pink\"\n" +
                "\"piquant pink\"\n" +
                "\"coventry pink\"\n" +
                "\"capri pink\"\n" +
                "\"pink posy\"\n" +
                "\"softly pink\"\n" +
                "\"art deco pink\"\n" +
                "\"pink amour\"\n" +
                "\"pink chrysanthemum\"\n" +
                "\"harlequin pink\"\n" +
                "\"pink mallow\"\n" +
                "\"fantastic pink\"\n" +
                "\"antoinette pink\"\n" +
                "\"pink tease\"\n" +
                "\"pink puppet\"\n" +
                "\"azalea pink\"\n" +
                "\"pike's pink\"\n" +
                "\"pink joy\"\n" +
                "\"dolce pink\"\n" +
                "\"florence pink\"\n" +
                "\"taos pink\"\n" +
                "\"racer pink\"\n" +
                "\"orchid pink\"\n" +
                "\"cascade pink\"\n" +
                "\"copper pink\"\n" +
                "\"pink sand beach\"\n" +
                "\"pink buff\"\n" +
                "\"pink pink\"\n" +
                "\"pink tiger\"\n" +
                "\"iris pink\"\n" +
                "\"pink geranium\"\n" +
                "\"paper pink\"\n" +
                "\"piglet pink\"\n" +
                "\"snow pink\"\n" +
                "\"fountain grass pink\"\n" +
                "\"cool pink\"\n" +
                "\"pink linen\"\n" +
                "\"coho pink\"\n" +
                "\"coy pink\"\n" +
                "\"verona pink\"\n" +
                "\"matador pink\"\n" +
                "\"pink vanilla\"\n" +
                "\"pink thread\"\n" +
                "\"patio pink\"\n" +
                "\"serene pink\"\n" +
                "\"pinkish plum\"\n" +
                "\"pink mamosa\"\n" +
                "\"brilliant pink\"\n" +
                "\"candystriper pink\"\n" +
                "\"loving pink\"\n" +
                "\"abandon pink\"\n" +
                "\"pink foam\"\n" +
                "\"cloud pink\"\n" +
                "\"opera pink\"\n" +
                "\"pink pavilion\"\n" +
                "\"wheedling pink\"\n" +
                "\"m fifties pink\"\n" +
                "\"sizzling pink\"\n" +
                "\"pink trellis\"\n" +
                "\"putty pink\"\n" +
                "\"limoge pink\"\n" +
                "\"country pink\"\n" +
                "\"bella pink\"\n" +
                "\"fiesta pink med.\"\n" +
                "\"plantation pink\"\n" +
                "\"downing tavern pink\"\n" +
                "\"dainty pink\"\n" +
                "\"hot lips\"\n" +
                "\"pink icing\"\n" +
                "\"tu-tu pink\"\n" +
                "\"pink salmon\"\n" +
                "\"natural pink\"\n" +
                "\"patina pink\"\n" +
                "\"exotic pink\"\n" +
                "\"pink petal white\"\n" +
                "\"sugared pansy pink\"\n" +
                "\"meaghan pink\".";

            drawWordCloud(text_string);

            function drawWordCloud(text_string){
                var common = "whom,whose,this,that,these,those,am,is,are,was,were,be,been,being,have,has,had,having,do,does,did,doing,will,would,should,can,could,ought,i'm,you're,he's,she's,it's,we're,they're,i've,you've,we've,they've,i'd,you'd,he'd,she'd,we'd,they'd,i'll,you'll,he'll,she'll,we'll,they'll,isn't,aren't,wasn't,weren't,hasn't,haven't,hadn't,doesn't,don't,didn't,won't,wouldn't,shan't,shouldn't,can't,cannot,couldn't,mustn't,let's,that's,who's,what's,here's,there's,when's,where's,why's,how's,a,an,the,and,but,if,or,because,as,until,while,of,at,by,for,with,about,against,between,into,through,during,before,after,above,below,to,from,up,upon,down,in,out,on,off,over,under,again,further,then,once,here,there,when,where,why,how,all,any,both,each,few,more,most,other,some,such,no,nor,not,only,own,same,so,than,too,very,say,says,said,shall";

                var word_count = {};

                var words = text_string.split(/[ '\-\(\)\*":;\[\]|{},.!?]+/);
                if (words.length == 1){
                    word_count[words[0]] = 1;
                } else {
                    words.forEach(function(word){
                        var word = word.toLowerCase();
                        if (word != "" && common.indexOf(word)==-1 && word.length>1){
                            if (word_count[word]){
                                word_count[word]++;
                            } else {
                                word_count[word] = 1;
                            }
                        }
                    })
                }

                var svg_location = "#chart";
                var width = 450;
                var height = 450;

                var fill = d3.scale.category20();

                var word_entries = d3.entries(word_count);

                var xScale = d3.scale.linear()
                    .domain([0, d3.max(word_entries, function(d) {
                        return d.value;
                    })
                    ])
                    .range([10,100]);

                d3.layout.cloud().size([width, height])
                    .timeInterval(20)
                    .words(word_entries)
                    .fontSize(function(d) { return xScale(+d.value); })
                    .text(function(d) { return d.key; })
                    .rotate(function() { return ~~(Math.random() * 2) * 90; })
                    .font("Impact")
                    .on("end", draw)
                    .start();

                function draw(words) {
                    d3.select(svg_location).append("svg")
                        .attr("width", width)
                        .attr("height", height)
                        .append("g")
                        .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
                        .selectAll("text")
                        .data(words)
                        .enter().append("text")
                        .style("font-size", function(d) { return xScale(d.value) + "px"; })
                        .style("font-family", "Impact")
                        .style("fill", function(d, i) { return fill(i); })
                        .attr("text-anchor", "middle")
                        .attr("transform", function(d) {
                            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                        })
                        .text(function(d) { return d.key; });
                }

                d3.layout.cloud().stop();
            }
        </script>
        <!--Chroma.js-->
        <!--<div class="container">-->
            <!--<label for="user-color">Select your color:</label>-->
            <!--<input type="color" id="user-color" value="#0161b2" />-->

            <!--<button id="generate-color-scheme">Generate color scheme</button>-->

            <!--<ol class="color-scheme"></ol>-->

            <!--<hr>-->

            <!--<label for="scale-color-1">Select color 1:</label>-->
            <!--<input type="color" id="scale-color-1" value="#ffffff" />-->
            <!--<label for="scale-color-2">Select color 2:</label>-->
            <!--<input type="color" id="scale-color-2" value="#000000" />-->
            <!--<label for="scale-count">Enter the number of colors:</label>-->
            <!--<input type="number" id="scale-count" value="10" />-->

            <!--<button id="generate-color-scale">Generate color scale</button>-->

            <!--<ol class="color-scale"></ol>-->
        <!--</div>-->


        <div ng-controller="AccordionCtrl">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="color-index-accordion-title">
                    <uib-accordion-heading>
                        37 COLOR ASSOCIATION NAMES <i class="pull-right glyphicon" ></i>
                    </uib-accordion-heading>
                    <div class="color-index-accordion-item">
                        <div class='checkboxes-accordion'>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                        </div>
                        <div class='checkboxes-accordion'>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                        </div>
                        <div class='checkboxes-accordion'>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                        </div>
                        <div class='checkboxes-accordion'>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                        </div>
                        <div class='checkboxes-accordion'>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                        </div>
                        <div class='checkboxes-accordion'>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                        </div>
                        <div class='checkboxes-accordion'>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                        </div>
                        <div class='checkboxes-accordion'>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                        </div>
                        <div class='checkboxes-accordion'>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                            <div class="checkbox-accordion-item">
                                <label class="title-checkbox-accordion"></label>
                                <input type="checkbox" class="option-input checkbox" />
                                <span class="checkbox-accordion_text">PINK BERRY</span>
                                <span class="checkbox-accordion_small_text">TEST TEST</span>
                            </div>
                        </div>
                        <div class="button accordion-button">
                            <a class="btn join-btn" ui-sref='colorIndexAccordion'>NEXT TEST</a>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group class="color-index-accordion-title">
                    <uib-accordion-heading>
                        22 PAINT COLOR NAMES <i class="pull-right glyphicon"></i>
                    </uib-accordion-heading>
                    <div class="color-index-accordion-item">
                        This is just some content to illustrate fancy headings
                    </div>
                </div>
                <div uib-accordion-group class="color-index-accordion-title">
                    <uib-accordion-heading>
                        139 COLOURLOVERS COLOR NAMES<i class="pull-right glyphicon"></i>
                    </uib-accordion-heading>
                    <div class="color-index-accordion-item">
                        This is just some content to illustrate fancy headings
                    </div>
                </div>
                <div uib-accordion-group class="color-index-accordion-title">
                    <uib-accordion-heading>
                        18 RESEARCH COLOR NAMES <i class="pull-right glyphicon"></i>
                    </uib-accordion-heading>
                    <div class="color-index-accordion-item">
                        <img class="img-accordion img-responsive img50" alt="Image" src="../../../assets/images/accordion-color-music.png">
                    </div>
                </div>
                <div uib-accordion-group class="color-index-accordion-title">
                    <uib-accordion-heading>
                        COLOR MOSAIC FOR (COLOR NAME) <i class="pull-right glyphicon"></i>
                    </uib-accordion-heading>
                    <div class="color-index-accordion-item">
                        <div id="chart"></div>
                    </div>
                </div>
            </uib-accordion>
        </div>

      <!--<div>-->
        <!--<ul>-->
          <!--<li class="color-index-accordion-title" ng-repeat="item in items" ng-click="clickItemAccordion(item)">-->
            <!--{{item.name}}<i class=" fa float-right arrow-up-down" ng-class="{'arrow-up-down': !isOpen, 'down-arrow-up': isOpen}"></i>-->
            <!--&lt;!&ndash;<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>&ndash;&gt;-->
            <!--<div class="color-index-accordion-item" ng-show="accordion.current == item.name">-->
              <!--<div ng-repeat="sub in item.sub"> <div ng-bind-html='sub.name' ></div></div>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
  </div>
</section>
