<section>
  <div class="container-fluid text-center" ng-init="$ctrl.init()">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-lg-offset-4">
        <h3>{{$ctrl.pageData.title}}</h3>
        <div class="line"></div>
      </div>
      <div class="col-lg-4 col-md-12 text-right">
        <div class="button membership">
          <button class="btn" ui-sref="membership({scrollTo: true})">MEMBERSHIP</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div ng-bind-html="$ctrl.pageData.editor" style="text-align: justify">

  </div>
</section>
