@import 'variables.scss';

section {
    padding-left: 80px;
    padding-right: 80px;
}
.border {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.dashboard-container {
    background-color: #f7f7f7;

    label {
        width: 100%;
        background-color: #fff;
        margin-bottom: 0px;
        font-size: 26px;
    }
    .nav-tabs {
        display: flex;
        background-color: #fff;
        li {
            flex: 1;
            text-align: center;
            margin-right: 0;
            border-radius: 0;
            border: 1px solid #ebebeb;
            font-size: 19.44px;
            a, a:hover {
                border: none;
                background: none;
                color: #000;
                padding: 17px 15px;
            }
        }

        li:not(:first-child) {
            // border-left: 0;
            margin-left: -1px;
        }

        li.active {
            border-top: 8px solid #bb0076;
            background-color: #f7f7f7;
            a {
                color: #bb0076;
            }
        }
    }
    .tab-content {
        .active {
            padding-left: 0px;
        }
    }

    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        .col-sm {
            padding: 10px;
            text-align: center;
        }
    }
}
.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-30 {
    padding: 30px;
}

.clickable {
    cursor: pointer;
}
.col {
    float: left;
}

.cols-1 {
    width: 0.833%;
}
.cols-2 {
    width: 16.66%;
}
.cols-3 {
    width: 25%;
}
.cols-4 {
    width: 33.33%;
}
.cols-5 {
    width: 41.66%;
}
.cols-6 {
    width: 50%;
}
.cols-7 {
    width: 58.33%;
}
.cols-8 {
    width: 66.66%;
}
.cols-9 {
    width: 75%;
}
.cols-10 {
    width: 83.33%;
}
.cols-11 {
    width: 91.66%;
}
.cols-12 {
    width: 100%;
}

.graph {
    text-align: center;
    .clickable {
        height: 320px;
        padding: 10px 25px;
    }
    .sub-body {
        height: 500px;
    }

    .module-title {
        text-align: left;
    }
    h4 {
        margin-bottom: 0;
    }
    span {
        font-size: 10px;
    }
}

.content-details {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
  
    .content-details-dialog {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;
        font-family: "Open Sans";
        font-size: 16px;
        text-align: left;
        max-width: 1200px;
        border: 1px solid #efefef;
        
        .content-details-dialog-header {
            width: 100%;
            height: 50px;
            padding: 10px;
            margin-bottom: 10px;
        }
        .content-details-dialog-body {
            width: 100%;
            padding: 10px;
        }
        .sub-body {
            padding: 0 20px;
            .btn-no-back {
                width: 100%; font-size: 14px;
            }
        }
        .chart {
            width: 100%;
            transform: scale(1);
        }
    }
}
.clear {
    clear: both;
}

.dialog-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 160px;
    background: url(../../../assets/img/logo.png) center left no-repeat #000;
    background-size: contain;
    font-family: Open Sans;
    font-size: 14px;
    color: #fff;
}

.sub-body {
    padding: 0 20px;
}

.button-close {
    width: 20px;
    height: 20px;
    background: url(../../../assets/img/icons/close-big.svg) no-repeat center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.btn-no-back {
    background: none;
    color: #000;
    border: 1px solid #000;
}
.btn-no-back:hover {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}
.social-icon-groups {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.chart {
    position: relative;
    width: 200%;
    min-width: 400px;
    margin: auto;
    font-size: 10px;
    height: 500px;
    transform: scale(0.5);
    transform-origin: top left;

    div {
        position: absolute;
        width: 100%;
        min-width: 400px;
        height: 500px;
        min-height: 100px;
    }
}


.c-colors-of-year {
 
    div:first-child {
        min-height: 100px;
        height: 300px;
        margin-bottom: 10px;
    }

    div:last-child {
        min-height: 100px;
        height: 200px;
        margin-top: 0;
    }
}

.border-left {
    border-left: 1px solid #eee;
}

.moodboards-container {
    .board {
        height: 500px;
    }
}
@media (max-width: 1300px) and (min-width: 1200px) {
    .chart {
        width: 100%;
    }

    .chart.c-chart-by-city-period-colors > div {
        width: 100%;
    }

    .chart.c-listed-lines {
        width: 100%;
    }

    .chart.c-bubbled-lines > div,
    .chart.c-colors-of-year > div,
    .chart.c-nails-lines > div {
        width: 100%;
    }
}

@media (max-width: 1300px) {
    .col-lg-1 {
        width: 16.66%;
    }
    .col-lg-2 {
        width: 33.33%;
    }
    .col-lg-3 {
        width: 50%;
    }
    .col-lg-4 {
        width: 66.660%;
    }
    .col-lg-5 {
        width: 83.33%;
    }
    .col-lg-6 {
        width: 100%;
    }
}
@media (max-width: 900px) {
    .col-md-1 {
        width: 25%;
    }
    .col-md-2 {
        width: 50%;
    }
    .col-md-3 {
        width: 70%;
    }
    .col-md-4 {
        width: 80%;
    }
}

@media (max-width: 360px) {
    .col-sm {
        width: 100%;
    }
}
