body {
  min-height: 100vh;
  position: relative;
  padding-top: 135px;
  padding-bottom: 105px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

app-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 30;

  .navbar-collapse.in {
    overflow-y: visible;
  }
}

[ui-view=main] {
  padding-top: 100px;
}

ui-view {
  & > * > *:last-child {
    padding-bottom: 60px;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
  cursor: pointer;
}

.prefooter {
  margin-top: 0;

  .stay-connected-checkboxes {
    p {
      margin-right: 7px;

    }
    label {
      padding-left: 25px;
      font-size: 10px;
      line-height: 22px;
    }
  }
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.cutted-text {
  height: 70px;
  overflow: hidden;

  p {
    line-height: 18pt !important;
  }
}

.cutted-text-speaker {
  max-height: 70px;
  overflow: hidden;

  p {
    line-height: 18pt !important;
  }
}

.red-text {
  color: #bb0076;
}

.black-text {
  color: black;
}

.afade {
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  /* Firefox */
  -webkit-animation: fadein 0.6s;
  /* Safari and Chrome */
  -o-animation: fadein 0.6s;
  /* Opera */
}

.report, .course {
  @media (max-width: 992px) {
    .category {
      left: 0;
    }
  }
}

.press-page-wrapper {
  padding-bottom: 0 !important;

  .press-header {
    background-image: url(../assets/images/press-header.jpg);
    margin-bottom: 70px;

    h1 {
      margin-bottom: 0;
    }
    h2 {
      margin-top: 0;
    }
  }

  h3 {
    font-weight: normal;
    padding: 0;
    margin: 0 0 15px 0;
  }

  .press-form.form {
    max-width: 100%;

    input, textarea {
      width: 100%;
    }
  }

  .press-page-bottom-list {
    background-color: #f2f2f2;
    padding-bottom: 50px;
    padding-top: 50px;

    h3 {
      margin-bottom: 30px;
    }

    .list-item {
      padding: 20px 0;
      border-bottom: 1px solid #b5b5b5;

      a:hover {
        text-decoration: none;
        color: #bb0076;
      }

      a:focus {
        text-decoration: none;
        outline: none;
        color: #000000;
      }

      .list-category {
        color: #bb0076;
        font-size: 16px;
        margin-right: 5px;
      }
      .list-date {
        color: #9f9f9f;
        font-size: 16px;
      }
      .list-text {
        margin-top: 5px;
        color: #000;
        font-size: 20px
      }
    }
  }

  @media (max-width: 992px) {
    .from-container {
      padding-bottom: 30px;
    }

  }

  @media (max-width: 1200px) {
    .press-page-bottom-list {
      padding-bottom: 140px;
    }
  }
}

.privacy-policy-container, .terms-of-use-container {
  h5 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.detailed-page-wrapper {
  padding-bottom: 0 !important;

  .border {
    margin-top: 30px;
    height: 2px;
    width: 100%;
    background: #f2f2f2;
  }

  .report {
    margin-top: 20px;
  }

  .top {
    padding-top: 30px;

    .list-item {
      font-size: 16px;

      .list-category {
        color: #bb0076;
        margin-right: 5px;
      }
      .list-date {
        color: #9f9f9f;
      }
      .list-text {
        //margin-top: 5px;
        color: #000;
        font-size: 30px
      }
    }

    @media (max-width: 1300px) and (min-width: 1200px) {
      .list-item {
        font-size: 13px;
        .list-text {
          font-size: 25px
        }
      }
    }
  }

  .detailed-content {
    padding-bottom: 70px;

    .category {
      left: auto;
    }

    .img-responsive {
      width: 100%;
    }

    .text {
      color: black;
      font-size: 10pt;
    }

    a {
      margin-left: 0;
    }
  }

  .detailed-bottom-content {
    background-color: #f2f2f2;
    padding-bottom: 60px;

    .top-row {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .button {
      margin-left: 0;
      button {
        background-color: #f2f2f2;

        &:hover, &:focus {
          color: #bb0076;
          background-color: white;
        }
      }
    }

    h4 {
      color: #000;
      font-size: 30px;
      margin: 0;
      font-weight: normal;
      @media (min-width: 1300px) {
        margin-top: 16px
      }
    }

    .slider-images {
      margin-top: 0;
    }
  }
}

.membr-block {
  margin-bottom: 0;
  position: relative;

  input {
    margin-bottom: 0;
  }

  input, textarea {
    &:focus ~ label, &:not([value=""]) ~ label {
      display: none;
    }
  }

  label {
    animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    -webkit-animation: fadein 0.3s;
    -o-animation: fadein 0.3s;
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    position: absolute;
    top: 22%;
    left: 10px;

    span {
      font-size: 18px;
      line-height: 0;
      vertical-align: middle;
    }
  }
}

.memberOnlyTitle {
  font-weight: normal;
  margin-bottom: 20px
}

.thanksText {
  font-size: 16px;
  padding: 10px 0 20px 0;
}

.thanksDiv {
  padding-bottom: 50px;
}

.thanksBtn {
  font-size: 13px;
  font-weight: 700;
  padding: 14px 20px 14px 20px;
  background-color: white;
  color: #bb0076;
  border: solid 2px #bb0076;
  transition: background-color 0.2s ease;
  min-width: 134px;
}

.thanksBtn:hover {
  background-color: #bb0076;
  color: white;
  border: solid 2px #bb0076;
  min-width: 134px;
}

.recover-page {

  .recover-content .rec-item {
    margin-bottom: 10px;
  }
  .membership-form {
    position: relative;
  }

  b {
    display: block;
  }

  .button {
    padding: 30px 0 40px;
  }

  .btn {
    padding: 15px 50px;
  }

  a {
    color: #bb0076;
  }

  .get-help {
    font-size: 17px;
  }

  @media (max-width: 1300px) and (min-width: 1200px) {
    .btn {
      padding: 10px 30px;

    }

  }
}

.membership {
  margin: 0;

  @media (min-width: 992px) {
    padding-top: 0;
    //float: right;
  }
  //&.membership.white {
  //  margin-right: 10px;
  //}
}

.staffs-container {
  margin: 50px 0;

  .staff-item {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 40px;

    .line {
      border-bottom: 2px solid rgb(187, 0, 118);
      margin: 15px auto 0;
    }

    img {
      margin-bottom: 20px;
      width: 170px;
    }

    a {
      color: #bb0076;
    }

    @media (max-width: 1300px) and (min-width: 1200px) {
      font-size: 10px;

      img {
        width: 120px;
      }
    }
  }
}

.inquiries {
  background-color: #f1f1f1;
  margin-top: -50px;
  padding-top: 30px;
  padding-bottom: 60px;

  textarea {
    min-height: 125px;
  }

  p {
    font-size: 17px;
  }

  ol {
    padding-left: 15px;
  }
}

.contact-us-page, .press-page-wrapper, .edit-profile-page {
  .contact-us-form, .press-form {
    max-width: 450px;
    margin: auto;

    .form-item {
      position: relative;
      margin-bottom: 22px;

      input {
        margin-bottom: 0;
      }

      input, textarea {
        &:focus ~ label, &:not([value=""]) ~ label {
          display: none;
        }
      }

      label {
        animation: fadein 0.3s;
        -moz-animation: fadein 0.3s;
        -webkit-animation: fadein 0.3s;
        -o-animation: fadein 0.3s;
        display: block;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
        position: absolute;
        top: 16px;
        left: 10px;

        span {
          font-size: 18px;
          line-height: 0;
          vertical-align: middle;
        }
      }
      @media (max-width: 1300px) and (min-width: 1200px) {
        margin-bottom: 10px;

        label {
          top: 11px;
        }
      }
    }

    textarea {
      min-height: 130px;
    }

    .button {
      padding-top: 0;
      text-align: right;
      .btn {
        width: 120px;
      }
    }
  }
}

.login-page {
  .login-container {
    position: relative;
    max-width: 450px;
    margin: auto;
    padding-top: 20px;
  }

  a {
    text-decoration: none
  }
  .google-auth-button {
    padding: 15px;
    background-color: gray;
    margin-bottom: 15px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
  }

  .google-auth-button:hover {
    background-color: #909090;
  }

  input {
    width: 100% !important;
    margin: 15px 0;
  }

  .remember-checkbox {
    p {
      margin-bottom: 22px;
      float: none;
      text-align: left;
    }
  }

  .login-btn {
    text-align: left;
    padding: 0;
    margin-bottom: 22px;
  }

  .additional-links {
    font-size: 11px;
    a {
      color: #bb0076;
    }

    p {
      margin-bottom: 0;
      font-size: 11px;
    }
  }

}

.buttons-group {
  margin-top: 0;
  .button {
    margin-right: 0;
  }

  .basket-btn {
    padding: 10px 20px;
  }

  .prise {
    float: right;
    h3 {
      color: #bb0076;
      margin: 0;
      padding: 5px 10px;
    }
  }
}

.btn {
  border: solid 1px #bb0076;

  &:focus {
    color: #fff;
  }
}

//.white .btn {
//  border: solid 1px #bb0076;
//}
//
//.white .btn:hover {
//  border: solid 1px #bb0076;
//  min-width: 134px;
//}

input.search {
  height: 33px !important;
  background-position: right 10px top 7px;
}

.error-message {
  position: absolute;
  top: 0;

  span {
    color: red;
    font-weight: 700;
  }
  a {
    color: black;
    font-weight: 700;
  }
}

.error-message-staff {
  position: absolute;
  top: -10px;

  span {
    color: red;
    font-weight: 700;
  }
  a {
    color: black;
    font-weight: 700;
  }
}

#show-video-popup {
  cursor: pointer;
}

.push {
  height: 105px;
}

.select-mrg {
  margin-bottom: 22px;
}

.popup.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: none;
  transition: all 1s ease-in-out;

  main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 1000px;
    max-height: 562px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  header {
    text-align: right;
    position: relative;

    button {
      background: none;
      color: white;
      font-size: 25px;
      outline: none;
      border: none;

      &:active,
      &:active:focus,
      &:hover,
      &:focus {
        outline: none;
        background: none;
        color: #333;
      }
    }
  }
}

.analytics-section {
  padding-top: 60px;
  background-color: #f7f7f7;
}

.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .analytic-title {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #7b7b7b;
    text-transform: uppercase;
  }

  .item {
    width: 16%;
    margin: 0 2% 110px;
    border-top: 4px solid #bb0076;
    text-align: center;
    height: 180px;

    .img-container {
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 25px;
      height: 100%;

      .img {
        width: 150px;
        height: 100%;
      }
    }
  }
}

// Customized Infographics START

form .ui-select-container.selectize-control {
  height: 50px;

  .without-border {
    border: 0;
  }

  .selectize-input {
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 15px 8px;
    font-size: 10pt;
    color: #000;
    box-shadow: none;
    margin-bottom: -4px;
    background-color: white;
    background-image: url(../assets/images/arrow.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;

    span {
      font-size: 18px;
    }

    &.selectize-focus {
      border-color: #ccc !important;
    }

    &:disabled {
      cursor: default;
      background-image: url(../assets/images/arrow-gray.png);
      background-repeat: no-repeat;
    }

    &:after {
      display: none;
      border: none !important;
    }
  }
}

.inq {
  .ui-select-container.selectize-control {
    height: 50px;

    .without-border {
      border: 0;
    }

    .selectize-input {
      border: 0;
      border-radius: 0;
      padding: 15px 8px;
      font-size: 10pt;
      color: #000;
      box-shadow: none;
      margin-bottom: -4px;
      background-color: white;
      background-image: url(../assets/images/arrow.png);
      background-repeat: no-repeat;
      background-position: 95% 50%;

      span {
        font-size: 18px;
      }

      &.selectize-focus {
        border-color: #ccc !important;
      }

      &:disabled {
        cursor: default;
        background-image: url(../assets/images/arrow-gray.png);
        background-repeat: no-repeat;
      }

      &:after {
        display: none;
        border: none !important;
      }
    }
  }
}

.customized-infographics-controls, .dashboard-controls {
  text-align: center;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .select-style {
    text-align: left;
    margin-right: 10px;
    width: auto;

    select {
      background-position: right 10px top 50%;
      padding-right: 26px;
      background-size: 13px;
      min-width: 0;
      width: auto;
      margin-bottom: 10px;
      text-transform: capitalize;

      &:disabled {
        cursor: default;
        background-image: url(../assets/images/arrow-gray.png);
        background-repeat: no-repeat;
      }
    }
  }

  .select-style.custom-select {
    min-width: 100px;
    max-width: 160px;

    .disabled {
      color: #808080;
      background-color: lightgrey;
    }

    .ui-select-container {
      color: #000;

      .selectize-input {
        border-radius: 0;
        background: none;
        box-shadow: none;
        border: 1px solid #ccc;

        &.selectize-focus {
          border-color: #ccc !important;
        }
      }

      .ui-select-search {
        height: auto;
      }

      .selectize-input {
        padding: 16px 26px 15px 6px;
        font-size: 10pt;
        background-position: right 10px top 50%;
        background-size: 11px;
        background-image: url(../assets/images/arrow.png);
        background-repeat: no-repeat;

        &:disabled {
          cursor: default;
          background-image: url(../assets/images/arrow-gray.png);
          background-repeat: no-repeat;
        }

        &:after {
          border: none;
        }
      }

      .ui-select-search {
        font-size: 10pt;
      }

      .selectize-dropdown {
        font-size: 7pt;
        margin: -5px 0 0 0;
      }

      @media (max-width: 1300px) and (min-width: 1200px) {
        .selectize-input {
          padding: 6px 26px 7px 6px;
          font-size: 7pt;
        }
        .ui-select-search {
          font-size: 7pt;
        }
      }
    }
  }
}

.container-fluid.infographics {
  padding: 0;
}

.customized-infographics {
  min-height: 500px;
  margin: auto;
  margin-top: 15px;
  max-width: 1300px;

  .letters-anchors {
    a {
      cursor: pointer;
      padding-right: 5px;
      color: #bb0076;
      text-transform: uppercase;
    }
  }

  h3 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.25em;
    margin: 0 14px;
    letter-spacing: normal;
    padding: 0;
  }

  h2 {
    font-family: 'Open Sans';
    font-size: 2.4em;
    color: #000;
    margin: 0 14px;
    letter-spacing: normal;
  }

  h4 {
    margin: 0 14px 18px;
    font-family: 'Open Sans';
    font-size: .85em;
    padding-bottom: 18px;
    border-bottom: 1px solid #b2b2b2;
    color: #000;
    letter-spacing: normal;
  }

  .graphic-titles {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;

    h2 {
      font-weight: bold;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1em;
    }

    h4 {
      font-size: 14px;
    }
  }
}

.footer-section {
  padding: 0 70px;
  display: block;
}

.customized-infographics-footer {
  display: none;
  margin: 0 20px;
  padding-top: 35px;
  padding-bottom: 20px;
  border-top: 2px solid #c6c6c6;

  & > a {
    display: block;
    width: 290px;
    height: 48px;
    float: left;
    background: url(../assets/images/footer-logo.png) no-repeat center;
    background-size: 100%;
    margin-right: 50px;
  }

  a {
    color: #bb0076;
  }

  h5 {
    width: 100%;
    font-family: "Gotham-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    line-height: 1.55em;
    font-size: 8pt;
  }

  p {
    margin-bottom: 0;
    text-align: right;
    font-size: 7pt;
  }
}

.c-listed-lines-new {
  .list-item {
    border-bottom: 2px solid #eee;
    padding: 5px 5px 30px 5px;

    &:last-child {
      border-bottom: none;
    }

    .letter-label {
      line-height: 54px;
      font-size: 28px;
      text-transform: capitalize;
      border-top-color: transparent;
      border-bottom-color: transparent !important;
    }
  }

  .column {
    float: left;
    width: 33.33%;
    position: relative;
    border-right: 2px solid #eee;
    box-sizing: border-box;
    padding: 0 6px;
    height: auto;

    &:first-child {
      padding-right: 6px;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: 6px;
      border-right: none;
    }
  }

  .item-row {
    border-bottom: 2px solid #eee;
    padding: 5px 0;
  }

  .designer-title {
    width: 33%;
    float: left;
    font-size: 14px;
    font-family: Oswald, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0;

    &:hover:before {
      border: none !important;
    }
  }

  .color-block {
    width: 16%;
    box-sizing: border-box;
    float: left;
    padding: 4px;

    span {
      width: 100%;
      height: 12px;
      display: block;
      border-radius: 4px;
      //transform: rotateX(90deg);
      //transition: .35s cubic-bezier(0, .25, 0.25, 1);
      //opacity: .15;
    }
    span.show {
      transform: rotateX(0);
      opacity: 1;
    }
  }
}

.c-by-season-colors > :last-child {
  width: 60%;
  //box-sizing: content-box;
}

.c-by-season-colors .season,
.c-by-season-colors .season * {
  box-sizing: content-box;
}

.c-for-designer > div:first-child,
.c-for-designer > div:last-child {
  width: 50%;
}

.c-for-designer h3 {
  margin: 0;
}

.c-for-designer > div:first-child > div {
  border-right: 1px solid #aaa;
}

.c-for-designer > div:last-child > div {
  border-left: 1px solid #aaa;
}

.c-for-designer .c-for-designer-v {
  width: 92%;
  margin: auto;
}

.c-for-designer {
  .colors label {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    color: #000;
  }
}

.c-for-designer-city .colors > div,
.c-for-designer .colors > div {
  box-sizing: content-box;
}

.c-for-designer-city {
  .colors label {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    color: #000;
  }
}

.c-nails-lines svg g.group-titles {
  //transform: translate(-15px, 5px);
}

.c-for-designer .colors > div {

}

.customized-infographics-top-container {
  .buttons-group {
    padding-right: 47px;
  }
}

//DASHBOARDS START
.dashboard {
  .dashboard-content {
    min-height: 200px;
  }

  .dashboard-no-data {
    text-align: center;

  }

  .dashboard-controls {
    select:disabled {
      color: #b3b3b3;
    }
  }
}

.dashboard-auto {
  .db-color-palette {
    width: 100%
  }
}

.dashboard-legal {
  .dashboard-controls {
    .select-long {
      width: auto;
    }
  }

  th {
    text-align: center;
  }
}

.dashboard-branding {
  .dashboard-row.color-palette-row {
    width: 100%;
    display: table;

    .dashboard-cell {
      display: table-cell;
      float: none;
      padding-bottom: 30px;

      .db-color-palette {
        width: 100%;
        margin: 0;
      }
    }
  }
}

//DASHBOARDS END

@media (max-width: 1300px) and (min-width: 1200px) {
  .prefooter {
    #stay-connected {
      input {
        height: 33px;
      }
    }

    .button {
      height: auto;

      button {
        height: auto;
        padding: 8px;

        &:hover {
          height: auto;

        }
      }

    }
  }

  .search-fields {
    .select-style {
      select {
        background-position: right 10px top 50%;
        padding-right: 26px;
        background-size: 13px;
        min-width: 0;
        height: 31px;
        font-size: 7pt;
      }
    }
  }

  .customized-infographics-top-container {
    .buttons-group {
      padding: 0 47px 0 0;
    }
    .buttons-group button {
      margin-left: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .col-lg-6 {
      padding: 0 15px;
    }

    //.membership:last-child {
    //  margin-right: 10px;
    //}
  }

  .customized-infographics-controls, .dashboard-controls {
    margin-bottom: 0;

    .select-style select {
      height: 33px;
      margin-bottom: 10px;
      font-size: 7pt;
    }

    .btn {
      height: 33px;
      padding: 0 13px;
      margin-left: 0;
      margin-bottom: 10px;

    }
  }

  .chart {
    width: 1000px;
  }

  .chart.c-chart-by-city-period-colors > div {
    width: 1000px;
  }

  .chart.c-listed-lines {
    width: 100%;
  }

  .chart.c-bubbled-lines > div,
  .chart.c-colors-of-year > div,
  .chart.c-nails-lines > div {
    width: 1000px;
  }

  /**/
  .c-chart-region > div:first-child {
    width: 70%;
    left: -9%;
    color: #d3d3d3

  }

  .c-chart-region > div:last-child {
    left: 50%;
    width: 50%;
  }

  /**/
  .c-by-season > div:last-child > div > h3 {
    float: left;
    margin: 15px 5px 0;
  }

  .c-by-season > div:first-child {
    width: 50%;
    & > div > h3 {
      margin-left: 75px;
    }
  }

  .c-by-season > div:last-child > div > div:last-child {
    width: 140px;
    height: 80px;
    float: left;
    margin-left: 0;
  }

  .c-by-season-colors .season > div {
    width: 525px;
  }

  .c-by-season-colors .season label {
    width: 60px;
  }

  .c-by-season-colors > :first-child {
    width: 37%;
  }
  .c-by-season-colors > :last-child {
    width: 63%;
  }

  /**/
  .c-color-for > div:first-child,
  .c-color-for > div:last-child {
    width: 50%
  }

  .c-color-for > div:first-child > h3 {
    margin-left: 25%;
  }

  /**/
  .c-for-designer {
    width: 100%;
  }

  .c-for-designer > div:first-child,
  .c-for-designer > div:last-child {
    width: 50%;
  }

  .c-for-designer .c-for-designer-v {
    margin-left: 0;
  }

  .c-for-designer > div:last-child > div {
    padding-left: 0;
  }

  .c-for-designer .c-for-designer-v {
    width: auto;
    margin-left: -2px;
  }
}

@media (max-width: 1200px) {
  .prefooter {
    padding-bottom: 140px;
  }
}

@media (max-width: 1000px) {

  ul.login {
    margin-bottom: 8px;
  }
  .chart {
    width: 100%;
  }

  .chart > div {
    width: 100%;
  }
}

//dots
.dotstyle {
  text-align: center;

  ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
  }

  li {
    position: relative;
    display: block;
    float: left;
    margin: 15px 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    a {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 50%;
      background-color: #bb0076;
      background-color: rgba(255, 255, 255, 0.3);
      text-indent: -999em;
      cursor: pointer; /* make the text accessible to screen readers */
      position: absolute;
    }
  }
}

/* Fill up */
.dotstyle-fillup li a {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 2px #bb0076;
  transition: background 0.3s;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: #bb0076;
    box-shadow: 0 0 1px #fff;
    transition: height 0.3s;
  }

  &:hover,
  &:focus {
    background-color: rgba(187, 0, 118, 0.2);
  }
}

.dotstyle-fillup li.current a::after {
  height: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-open {
  overflow: auto;

}

.adv-modal {
  &.modal .modal-dialog {
    width: 75%;
    margin: auto;

    @media (max-width: 992px) {
      transform: translate(0, -50%);
    }
  }

  .modal-content {
    transform: translate(0, 100%);
    padding: 15px 20px 46px;
    border-radius: 0;

    .close {
      font-size: 40px;
      color: #bb0076;
      font-weight: normal;
      opacity: 0.7;

      &:hover {
        opacity: 1
      }
    }

    p {
      min-height: 48px;
    }

    .white .btn {
      margin-bottom: 0;
    }

    .container-fluid {
      padding: 0;
    }

    @media (max-width: 992px) {
      .col-sm-12 {
        padding: 10px 35px;
      }
    }
  }
}

.modal-err {
  * {
    font-weight: bold;
  }

  p {
    font-size: 14pt;
    padding: 10px 0 20px 0;
  }

  li {
    font-size: 13pt;
    list-style: none;
    padding: 0px;
  }

  ul {
    min-height: 150px;
    margin-bottom: 20px;
    padding-left: 25px;
  }

  button {
    width: 150px;
  }

  .div-but {
    text-align: right;
  }

  .modal-content {
    transform: translate(0, 30%);
    width: 550px;
    margin: auto;
    .row {
      div:first-child > button {
        margin-top: 24px;
      }
      div {
        height: 130px;
      }
    }
    border-radius: 0px;
    padding: 60px;
  }

}

.graphic-modal {
  .modal-dialog {
    width: 1000px;
    max-width: 95%;
  }

  .modal-content {
    //height: 600px;
  }

  .modal-header {
    padding: 0 10px;
    border: none;
  }

  .image-container {
    width: 100%;
    height: 600px;
  }

  .close {
    font-size: 40px;
    color: #bb0076;
    font-weight: normal;
    opacity: 0.7;

    &:hover {
      opacity: 1
    }
  }
}

@media (max-width: 380px) {
  #logo {
    padding-right: 0;
  }
}

/*-----the alignment of all columns is the maximum height of the row-----*/

.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.equal > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*------------styles for items width:768-992px -----------*/

@media(max-width: 992px) and (min-width: 768px) {
  .item,
  .partner,
  .about-item,
  .verticals-item,
  .membership-item {
    padding: 0 15px;
  }
}

/*------------styles for page elements "vertical-coverage"-----------*/

@media (min-width: 1200px) {
  .test-title {
    width: auto;
    vertical-align: top;
    display: inline-block;
    h5 {
      margin-top: 0;
      margin-bottom: 10px;
      text-align: center;
    }
    .short-line {
      width: 100%;
      border-bottom: 2px solid rgb(187, 0, 118);
    }
  }

  .test-img {
    width: 74%;
    display: inline-block;
    margin-right: 15px;
    div {
      display: block;
    }
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .test-title {
    width: auto;
    vertical-align: top;
    display: inline-block;
    h5 {
      margin-top: 0;
      margin-bottom: 10px;
      text-align: left;
    }
    .short-line {
      width: 100%;
      border-bottom: 2px solid rgb(187, 0, 118);
      text-align: left;
    }
  }

  .test-img {
    width: 100%;
    display: inline-block;
    margin-right: 15px;
    div {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .test-title {
    width: auto;
    vertical-align: top;
    display: inline-block;
    h5 {
      margin-top: 0;
      margin-bottom: 10px;
      text-align: left;
    }
    .short-line {
      width: 100%;
      border-bottom: 2px solid rgb(187, 0, 118);
      text-align: left;
    }
  }
}

/*---------------The minimum height of the elements-------------------*/

@media (min-width: 1300px) {
  .verticals-min-h {
    min-height: 350px;
  }

  .members-list-min-h {
    min-height: 90px;
  }

  .partners-logo-min-h {
    min-height: 50px;
  }

  .partners-min-h {
    min-height: 455px;
  }

  .reports-min-h {
    min-height: 410px;
  }

  .infographics-min-h {
    min-height: 395px;
  }

  .schedule-min-h {
    min-height: 550px;
  }

  .goods-reads-min-h {
    min-height: 370px;
  }

  .course-items-min-h {
    min-height: 405px;
  }

  .teaching-materials-min-h {
    min-height: 395px;
  }

  .daily-insights-min-h {
    min-height: 455px;
  }

  .daily-list-min-h {
    min-height: 325px;
  }

  .analytics-min-h {
    min-height: 410px;
  }

  .detailed-bottom-content-min-h {
    min-height: 300px;
  }

  .detailed-content-min-h {
    min-height: 340px;
  }

  .about-us-min-h {
    min-height: 500px;
  }
}

@media (max-width: 1300px) and (min-width: 1200px) {
  .verticals-min-h {
    min-height: 300px;
  }

  .members-list-min-h {
    min-height: 90px;
  }

  .partners-logo-min-h {
    min-height: 50px;
  }

  .partners-min-h {
    min-height: 425px;
  }

  .reports-min-h {
    min-height: 355px;
  }

  .infographics-min-h {
    min-height: 325px;
  }

  .schedule-min-h {
    min-height: 530px;
  }

  .goods-reads-min-h {
    min-height: 300px;
  }

  .course-items-min-h {
    min-height: 345px;
  }

  .teaching-materials-min-h {
    min-height: 335px;
  }

  .daily-insights-min-h {
    min-height: 415px;
  }

  .daily-list-min-h {
    min-height: 260px;
  }

  .analytics-min-h {
    min-height: 410px;
  }

  .detailed-bottom-content-min-h {
    min-height: 270px;
  }

  .detailed-content-min-h {
    min-height: 315px;
  }

  .about-us-min-h {
    min-height: 410px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .verticals-min-h {
    min-height: 430px;
  }

  .members-list-min-h {
    min-height: 120px;
  }

  .partners-logo-min-h {
    min-height: 50px;
  }

  .partners-min-h {
    min-height: 288px;
  }

  .reports-min-h {
    min-height: 435px;
  }

  .infographics-min-h {
    min-height: 420px;
  }

  .schedule-min-h {
    min-height: 530px;
  }

  .goods-reads-min-h {
    min-height: 375px;
  }

  .course-items-min-h {
    min-height: 420px;
  }

  .teaching-materials-min-h {
    min-height: 420px;
  }

  .daily-insights-min-h {
    min-height: 350px;
  }

  .daily-list-min-h {
    min-height: 350px;
  }

  .analytics-min-h {
    min-height: 410px;
  }

  .detailed-bottom-content-min-h {
    min-height: 260px;
  }

  .detailed-content-min-h {
    min-height: 400px;
  }
  .about-us-min-h {
    min-height: 300px;
  }

}

@media (max-width: 991px) and (min-width: 768px) {
  .verticals-min-h {
    min-height: 420px;
  }

  .members-list-min-h {
    min-height: 120px;
  }

  .partners-logo-min-h {
    min-height: 50px;
  }

  .partners-min-h {
    min-height: 288px;
  }

  .reports-min-h {
    min-height: 400px;
  }

  .infographics-min-h {
    min-height: 395px;
  }

  .schedule-min-h {
    min-height: 530px;
  }

  .goods-reads-min-h {
    min-height: 370px;
  }

  .course-items-min-h {
    min-height: 405px;
  }

  .teaching-materials-min-h {
    min-height: 395px;
  }

  .daily-insights-min-h {
    min-height: 585px;
  }

  .daily-list-min-h {
    min-height: 325px;
  }

  .analytics-min-h {
    min-height: 410px;
  }

  .detailed-bottom-content-min-h {
    min-height: 470px;
  }

  .detailed-content-min-h {
    min-height: 660px;
  }

  .about-us-min-h {
    min-height: 570px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .verticals-min-h {
    min-height: 540px;
  }

  .members-list-min-h {
    min-height: 300px;
  }

  .partners-logo-min-h {
    min-height: 50px;
  }

  .partners-min-h {
    min-height: 288px;
  }

  .reports-min-h {
    min-height: 520px;
  }

  .infographics-min-h {
    min-height: 485px;
  }

  .schedule-min-h {
    min-height: 530px;
  }

  .goods-reads-min-h {
    min-height: 460px;
  }

  .course-items-min-h {
    min-height: 505px;
  }

  .teaching-materials-min-h {
    min-height: 505px;
  }

  .daily-insights-min-h {
    min-height: 460px;
  }

  .daily-list-min-h {
    min-height: 435px;
  }

  .analytics-min-h {
    min-height: 410px;
  }

  .detailed-bottom-content-min-h {
    min-height: 365px;
  }

  .detailed-content-min-h {
    min-height: 550px;
  }

  .about-us-min-h {
    min-height: 430px;
  }
}

/*btn styles*/

.btn {
  color: #ffffff;
  font-size: 13px;
  background: #bb0076;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-weight: 700;
  transition: background 0.2s ease;
  border: solid 1px #bb0076;
  margin: 0;
}

.daily-btn {
  float: right;
  margin-right: 1px;
  margin-bottom: 15px;
}

.join-btn {
  min-width: 130px;
  @media (max-width: 1300px) and (min-width: 1200px) {
    min-width: 85px;
  }
}

.speaking_engagements .btn {
  @media (max-width: 1199px) {
    min-width: 134px;
  }

  @media (min-width: 1301px) {
    min-width: 134px;
  }
}

.btn:active,
.btn:focus {
  outline: none !important;
}

.btn:hover {
  background: #ce0b86;
  color: white;
  text-decoration: none;
}

.title-btn {
  margin-top: 10px;
  margin-left: 10px;
}

.white-hover:hover {
  background: white;
  transition: background 0.2s ease;
  color: #bb0076;
}

.white-btn {
  background-color: white;
  color: #bb0076;
  border: solid 1px #bb0076;
  transition: background-color 0.2s ease;
  min-width: 134px;
  margin-right: 10px;
}

.white-btn:focus {
  color: #bb0076;
}

.white-btn:hover {
  background-color: #bb0076;
  color: white;
  border: solid 1px #bb0076;
}

.submit-btn {
  height: 49px;
  width: 100%;
}

.btn-space-left {
  margin-left: 10px !important;
  margin-bottom: 5px;
}

.btn-no-space-right {
  margin-right: 0 !important;
}

.without-margins {
  margin: 0 !important;
}

@media (max-width: 1300px) and (min-width: 1200px) {
  .btn {
    font-size: 7pt;
    padding: 10px;
  }

  .white-btn {
    min-width: 104px;
  }

  button.white-btn:hover {
    min-width: 104px;
  }
}

@media (max-width: 1600px) and (min-width: 1221px) {
  .white-btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .white-btn {
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .membership {
    padding-top: 0;
    float: right;
  }
}

.customized-infographics-controls .btn,
.dashboard-controls .btn {
  margin-left: 0;
  margin-bottom: 10px;
}

.membership-form input.ui-select-search {
  display: none
}

/***************** styles for detailed display pages *******************/

.test-separator {
  height: 10px;

  @media (max-width: 1300px) and (min-width: 1200px) {
    height: 0;
  }
}

.title-text-left {
  float: left;
}

/************fix selectors custom infographics**************/

.customized-infographics-controls {
  input.ui-select-search {
    width: 0 !important;
  }
}

/*************profile style*******************/

.profile-page {
  margin-top: 0;

  .basket-btn {
    margin-top: 10px;
    padding: 5px 20px;
  }

  .profile_header {
    text-align: center;
  }

  .profile-data-text {
    text-align: left;
    span {
      color: #bb0076
    }

    .selectize-dropdown-content {
      font-size: 12px;

      span {
        color: #3f3f3f;
      }
    }

    .select-mrg {
      display: inline-block;
      margin-bottom: 0;
      width: 60%;
      font-size: 12px;

      .selectize-input {
        padding: 2px 5px;
        vertical-align: middle;
      }

      .ui-select-match {
        font-size: 10px;
      }
    }

    p {
      display: inline-block;

      input {
        margin-bottom: 0;
        width: auto;
        height: 24px;
      }

      trxtarea {
        color: #3f3f3f;
      }

      .electize-dropdown {
        color: black;
      }
    }

  }

}

.pointer {
  cursor: pointer;
}


/*******************styles for become-member*********************/

.become-member {
  ul {
    padding-left: 20px;

    li {
      color: black;
      font-size: 17px;
      font-weight: 400;
      line-height: 18pt;
      list-style-type: none
    }

    li:before {
      content: "-";
    }
  }
}

/****************cart page styles***********************/

.products-cart {

  .all-price {
    h3 {
      margin: 0;
      float: right;
      padding: 3px 10px;
    }
  }

  .products-table-min-h {
    min-height: 210px;
  }

  .empty-cart {
    text-align: center;

    h3 {
      color: #bb0076;
    }
  }

  .products-table {
    margin-bottom: 30px;

    .product-table-header {
      border-top: #3f3f3f 1px solid;

      caption {
        font-size: 24px;
        color: #bb0076;
      }

      th {
        padding: 5px;
        vertical-align: middle;
        text-align: center;
        border-right: #3f3f3f 1px solid;
      }
    }

    table {
      width: 100%;
      border-bottom: #3f3f3f 1px solid;
      border-left: #3f3f3f 1px solid;

      td {
        padding: 5px;
        vertical-align: middle;
        text-align: center;
        border-right: #3f3f3f 1px solid;
      }
      .product-img {
        width: 20%;
      }

      .product-name {
        width: 15%;
        h4 {
          margin: 0;
        }
      }

      .product-description {
        width: 25%;
      }

      .product-count {
        width: 8%;
      }

      .product-prise {
        width: 12%;

        h4 {
          margin: 0;
        }
      }

      .price-for-all {
        width: 12%;

        h4 {
          margin: 0;
        }
      }

      .basket-icon {
        width: 8%;
      }
    }
  }
}

// Customized Infographics END



.cart-checkout {
  .cart-div {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    margin-bottom: 15px;
  }
}