<section ng-init="$ctrl.init()">
  <div class="container-fluid  text-center title">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-lg-offset-4">
        <h3>HUEGROUP Verticals</h3>
        <div class="line"></div>
      </div>
      <div class="col-lg-4 col-md-12 text-right">
        <div class="button membership">
          <button class="btn" ui-sref="membership({scrollTo: true})">MEMBERSHIP</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section ng-repeat="item in $ctrl.pageData" class="vertical-coverage {{($index + 1)% 2 == 0 ? 'gray' :''}}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="category_form"><strong>{{item.category_name}}</strong></div>
      </div>

    </div>
  </div>

  <div class="container-fluid" style="padding-top:30px">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" ng-repeat="editor in item.editor track by $index" ng-bind-html="editor">
      </div>
    </div>
    <div class="row slider-images">
      <a>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="img-responsive background-image"
               style="background: {{'url(' + item.image1_url + ') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding-bottom: 56%;
                    background-color: #e1e1e126;">
          </div>
        </div>

        <div class="col-lg-1 col-md-6 col-sm-12 col-xs-12 slider">
          <h5>SS17</h5>
          <div class="short-line"></div>
        </div>
      </a>

      <a>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="img-responsive background-image"
               style="background: {{'url(' + item.image2_url + ') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding-bottom: 56%;
                    background-color: #e1e1e126;">
          </div>
        </div>

        <div class="col-lg-1 col-md-6 col-sm-12 col-xs-12 slider">
          <h5>Pink is in again</h5>
          <div class="short-line"></div>
        </div>
      </a>

      <a>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
          <div class="img-responsive background-image"
               style="background: {{'url(' + item.image3_url + ') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding-bottom: 56%;
                    background-color: #e1e1e126;">
          </div>
        </div>

        <div class="col-lg-1 col-md-6 col-sm-12 col-xs-12 slider">
          <h5>RTW SS18</h5>
          <div class="short-line"></div>
        </div>
      </a>
    </div>
  </div>
</section>
