<div class="container-fluid header data-partners-header text-center" ng-init="$ctrl.init()">
  <div class="text-header">
    <h1>Our Data Partners</h1>
    <div class="button">
      <button class="btn" ui-sref="partnershipInquire">Inquire about Data Partnership</button>
    </div>
  </div>
</div>
<section>

  <div class="container-fluid text-left partners partners-min-h">
    <div class="row" ng-repeat="group in $ctrl.pageData">
      <div class="col-lg-4 col-md-4 partner" ng-repeat="item in group">
        <img class="partners-logo-min-h" ng-if="item.image_url" ng-src="{{item.image_url}}">
        <h5>{{item.partner_name}}</h5>
        <div class="justify">
          <p class="three_line_height" style="display: block" data-ng-bind-html="item.description" data-ellipsis
             data-ellipsis-symbol="... "
             data-ellipsis-append="<a>Read more</a>"
             data-ellipsis-append-click="$ctrl.toggleTextHeight"
          ></p>
        </div>
      </div>
    </div>
  </div>
</section>
