<update-title title="Brand Color Insights"></update-title>
<update-meta name="description" content="HUEDATA color in logo trends dashboard"></update-meta>
<update-meta name="keywords" content="Color of Logos, Logo Colors, Color insights of logos, Color of companies logo,
Company logo colors, logo colors meaning, logo colors combination, new logo colors, logo design color trends,
logo color palette, logo color trends 2018"></update-meta>

<section ng-controller="brandingController">
	<div class="container-fluid  text-center title">
		<div class="row">
			<div class="col-lg-4 col-md-12 col-lg-offset-4">
				<h3>Brand Colors</h3>
				<div class="line"></div>
			</div>
			<div class="col-lg-4 col-md-12 text-right buttons-group">
				<div class="button membership">
					<button ng-if="$ctrl.getUser()" class="btn join-btn "
						ng-click="gotoElement('prefooter')">JOIN</button>
				</div>
			</div>
		</div>
	</div>

	<div class="search-container">
		<div class="sub-container">
			<div class="color-bar" style="background:{{item.hex}}" minlength="1" ng-click="handleChangeControl('color',item.id)" selecttype="type.color" ng-repeat="item in controlsData.colors"></div>
			<div class="clear"></div>
		</div>

		<div class="sub-container">
			<h4>CLICK ON ANY COLOR TO START YOUR SEARCH</h4>
		</div>

		<div class="sub-container">
			<h4>OR</h4>
		</div>

		<div class="sub-container">
			<autocomplete enteredText="menus.brand" selectedValue="selected" placeholder="brand_place_holder" selectHandle="handleChangeControl" selectType="type.brand"></autocomplete>
		</div>

		<div class="sub-container">
			<autocomplete enteredText="menus.industry" selectedValue="selected" placeholder="industry_place_holder" selectHandle="handleChangeControl" selectType="type.industry"></autocomplete>
		</div>

		<div class="sub-container">
			<autocomplete enteredText="menus.attribute" selectedValue="selected" placeholder="attribute_place_holder" selectHandle="handleChangeControl" selectType="type.attribute"></autocomplete>
		</div>
	</div>

	<div class="dashboard-content" ui-view></div>
</section>