<div class="login-page">
  <div class="container-fluid text-center">
    <h3>Member Login</h3>
    <div class="line"></div>
  </div>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="login-container text-center">
          <div ng-show="$ctrl.error" class="error-message afade text-left">
            <span>ERROR: </span><a>The username or password you entered is incorrect</a>
          </div>
          <form>
            <input ng-focus="$ctrl.error = false" ng-model="$ctrl.email" placeholder="EMAIL ADDRESS" name="email"
                   id="email" type="text">
            <input ng-focus="$ctrl.error = false" ng-model="$ctrl.password" placeholder="PASSWORD" name="password"
                   id="password" type="password">
            <div class="remember-checkbox">
              <p>
                <input type="checkbox" id="rememberMe" ng-model="$ctrl.isRemembered"/>
                <label for="rememberMe">Remember Me</label>
              </p>
            </div>
            <div class="button login-btn">
              <button ng-click="$ctrl.login()" class="btn">MEMBER LOGIN</button>
            </div>
          </form>

          <div class="additional-links text-left">
            <a ng-href="#!/recover">Forgot your password</a>
            <p>Not a Huegroup member? <a ui-sref="membership({scrollTo: true})">Learn more about Huegroup Membership</a></p>
            <a ui-shref="">Huegroup Staff - Login here</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
