<h4 class="text-left membership-product">HUEGROUP MEMBERSHIP PRODUCT</h4>
<section ng-init="$ctrl.init()">

  <div class="container-fluid  text-center title">
    <div class="row">

      <div class="col-lg-4 col-lg-offset-4">

        <h3>Members Analytics</h3>
        <div class="line"></div>
      </div>
      <div class="col-lg-4 col-md-12 buttons-group">
        <div class="button membership">
          <button class="btn" ui-sref="membership({scrollTo: true})">MEMBERSHIP</button>
        </div>
        <div class="button membership white">
          <button class="btn" ui-sref="productInquiry">PRODUCT INQUIRY</button>
        </div>
      </div>

    </div>
  </div>

</section>

<section>
  <div class="container-fluid  text-left">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <input class="search" placeholder="A-Z" type="text" ng-model="$ctrl.searchModel" ng-change="$ctrl.search()">
      </div>
    </div>
  </div>
</section>

<section class="gray member">
  <div class="container-fluid report ">
      <div ng-repeat="group in $ctrl.groups" class="row">
        <div ng-show="group[0] !== undefined" class="col-lg-2 col-md-6 col-sm-6 item">
          <div class="img-responsive background-image orange-line"
               style="background: {{'url(' + group[0].logo_url +') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #e1e1e126;
                    padding-bottom: 100%;"></div>
          <h6>{{group[0].member_name}}</h6>
        </div>
        <div ng-show="group[1] !== undefined" class="col-lg-2 col-md-6 col-sm-6 item">
          <div class="img-responsive background-image blue-line"
               style="background: {{'url(' + group[1].logo_url +') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #e1e1e126;
                    padding-bottom: 100%;"></div>
          <h6>{{group[1].member_name}}</h6>
        </div>
        <div ng-show="group[2] !== undefined" class="col-lg-2 col-md-6 col-sm-6 item">
          <div class="img-responsive background-image green-line"
               style="background: {{'url(' + group[2].logo_url +') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #e1e1e126;
                    padding-bottom: 100%;"></div>
          <h6>{{group[2].member_name}}</h6>
        </div>
        <div ng-show="group[3] !== undefined" class="col-lg-2 col-md-6 col-sm-6 item">
          <div class="img-responsive background-image orange-line"
               style="background: {{'url(' + group[3].logo_url +') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #e1e1e126;
                    padding-bottom: 100%;"></div>
          <h6>{{group[3].member_name}}</h6>
        </div>
        <div ng-show="group[4] !== undefined" class="col-lg-2 col-md-6 col-sm-6 item">
          <div class="img-responsive background-image green-line"
               style="background: {{'url(' + group[4].logo_url +') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #e1e1e126;
                    padding-bottom: 100%;"></div>
          <h6>{{group[4].member_name}}</h6>
        </div>
        <div ng-show="group[5] !== undefined" class="col-lg-2 col-md-6 col-sm-6 item">
          <div class="img-responsive background-image orange-line"
               style="background: {{'url(' + group[5].logo_url +') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #e1e1e126;
                    padding-bottom: 100%;"></div>
          <h6>{{group[5].member_name}}</h6>
        </div>
      </div>
      <div ng-show="!$ctrl.groups.length" style="padding-left: 30px;">
        <h4 style="padding-top:0px; margin-top:0px"><em>Nothing found. Please try later</em></h4>
      </div>
  </div>

  <div class="row" ng-show="$ctrl.pageData.length > $ctrl.groups.length * 6">
    <div class="col-lg-12 text-center" >
      <div class="viewmore"><a ng-click="$ctrl.more()">view more</a></div>
    </div>
  </div>

</section>
