<div class="container-fluid header member-header text-center">
  <div class="text-header">
    <h1>Become a HUEGROUP Member</h1>

  </div>
</div>

<div class="clear"></div>

<section>

  <div class="container-fluid  text-center">
    <h3>HUEGROUP Members Use Color Analytics and Insights to:</h3>
    <div class="line"></div>

  </div>
  <div class="container-fluid bg-3">

    <div class="row text-center">

      <!--        ------------------------------------------->
      <div class="col-lg-3 col-md-6 col-sm-12">

        <div><img src="../assets/images/stay-informed.png" alt="Image" style="padding-top:30px">
          <h5>STAY INFORMED</h5>
          <p>Enjoy real time color analytics and
            insights and never miss on new color
            introduction, emerging trends and deep
            dive analyses to enhance your color
            knowledge</p>
        </div>
      </div>
      <!--        ------------------------------------------->

      <!--        ------------------------------------------->
      <div class="col-lg-3 col-md-6 col-sm-12">

        <div><img src="../assets/images/Innovation.png" alt="Image" style="padding-top:30px">
          <h5>GET INSPIRED</h5>
          <p>Identify new color opportunities not
            always visible to the naked eye! Let the
            data leads you to new understandings
            and opportunities to create,
            differentiate, and lead with new colors
            and color innovations
          </p>
        </div>
      </div>
      <!--        ------------------------------------------->

      <!--        ------------------------------------------->
      <div class="col-lg-3 col-md-6 col-sm-12">

        <div><img src="../assets/images/customization.png" alt="Image" style="padding-top:30px">
          <h5>OPTIMIZE</h5>
          <p>Leverage color intelligence to better
            customize your color offering to your
            customer/audience base, especially in
            light of competitive offerings and trends
          </p>
        </div>
      </div>
      <!--        ------------------------------------------->

      <!--        ------------------------------------------->
      <div class="col-lg-3 col-md-6 col-sm-12">

        <div><img src="../assets/images/Efficiences.png" alt="Image" style="padding-top:30px">
          <h5>RATIONALIZE</h5>
          <p>Use Huegroup’s comprehensive and
            always updated data to support your
            color designs / innovations, validate
            your choices and communicate the
            strategic value of your color decisions.
          </p>
        </div>
      </div>
      <!--        ------------------------------------------->

    </div>
  </div>

</section>
<hr>

<section>
  <div class="container-fluid  text-center">
    <h3 class="padding-top-0">HUEGROUP Membership Benefits</h3>
    <div class="line" style="margin-bottom:25px"></div>

  </div>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 ">
        <div class="benefits shadow">
          <div class="col-lg-1 col-md-1 ">
            <img src="../assets/images/benefits-icon.png" class="icon-benefits">
          </div>
          <div class="col-lg-10 col-md-12 justify">
            <h5>BENCHMARK</h5>
            <p>Members enjoy access to Huegroup’s Index, Reports and
              Customized Infographics with vertical-specific analytics and
              actionable insights to benchmark and improve their color
              performance</p>

          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="benefits shadow">
          <div class="col-lg-1 col-md-1 ">
            <img src="../assets/images/benefits-icon.png" class="icon-benefits">
          </div>
          <div class="col-lg-10 col-md-12 justify">
            <h5>RESEARCH REPORTS</h5>
            <p>Huegroup publishes 100+ member-only reports annually
              providing deep cross- sector insight into color performance
              of thousands of brands, products and built environments</p>

          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="benefits shadow">
          <div class="col-lg-1 col-md-1 ">
            <img src="../assets/images/benefits-icon.png" class="icon-benefits">
          </div>
          <div class="col-lg-10 col-md-12 justify">
            <h5>MEMBER SUPPORT</h5>
            <p>Access to Huegroup color experts with cross-industry depth
              provide members with customized strategic support of key
              color decisions and guidance for effective color execution.</p>

          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="benefits shadow">
          <div class="col-lg-1 col-md-1 ">
            <img src="../assets/images/benefits-icon.png" class="icon-benefits">
          </div>
          <div class="col-lg-10 col-md-12 justify">
            <h5>EXECUTIVE EDUCATION</h5>
            <p>Huegroup offers a growing library of educational offerings
              from online color courses to color teaching materials and tools
              to the benefit of both industry and academic members.</p>

          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="becomeMember" class="become-member">
  <div class="container-fluid  text-center">
    <h3>Become a Member</h3>
    <div class="line"></div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 justify">
        <p>Huegroup color intelligence helps you benchmark your color
          performance relative to trends and competitors, inspires your color
          innovation, optimizes color decisions for your customer segment and
          supports rationalizing your color decisions.<br><br>

          - Vertical-specific analytics to benchmark color performance<br>
          - Access to Huegroup color experts with cross-industry depth<br>
          - Access to Huegroup 100+ reports annually<br>
          - A growing library of educational color courses and teaching
          materials<br>
        </p>
      </div>
      <form name="membership">
      <div class="col-lg-4 col-md-4 membership-form">
        <div class="membr-block">
          <input ng-model="$ctrl.data.firstName.value" ng-value="$ctrl.data.firstName.value" type="text" id="firstName" name="firstName"
                 ng-class="'ng-dirty' && membership.FirstName.$invalid ?  'error' :''" required>
          <label for="firstName">FIRST NAME <span class="red-text">*</span></label>
        </div>

        <div class="membr-block">
          <input ng-model="$ctrl.data.lastName.value" ng-value="$ctrl.data.lastName.value" type="text" id="lastName" name="lastName"
                 ng-class="'ng-dirty' && membership.LastName.$invalid ?  'error' :''" required>
          <label for="lastName">LAST NAME <span class="red-text">*</span></label>
        </div>

        <div class="membr-block">
          <input ng-model="$ctrl.data.email.value" ng-value="$ctrl.data.email.value" type="text" id="email" name="email"
                 ng-class="'ng-dirty' && membership.Email.$invalid ?  'error' :''" required>
          <label for="email">EMAIL <span class="red-text">*</span></label>
        </div>

        <div class="membr-block">
          <input ng-model="$ctrl.data.company.value" ng-value="$ctrl.data.company.value" type="text" id="company" name="company"
                 ng-class="'ng-dirty' && membership.company.$invalid ?  'error' :''" required>
          <label for="company">COMPANY <span class="red-text">*</span></label>
        </div>

        <div class="membr-block">
          <input ng-model="$ctrl.data.jobTitle.value" ng-value="$ctrl.data.jobTitle.value" type="text" id="jobTitle" name="jobTitle"
                 ng-class="'ng-dirty' && membership.jobTitle.$invalid ?  'error' :''" required>
          <label for="jobTitle">JOB TITLE <span class="red-text">*</span></label>
        </div>

        <div class="select-style">
          <select ng-model="$ctrl.data.jobFunction.value" name="jobFunction"
                  ng-class="'ng-dirty' && membership.jobFunction.$invalid ?  'error' :''" required>
            <option value="">PLEASE SELECT JOB FUNCTION*</option>
            <option ng-repeat="job in $ctrl.jobs" value="{{job}}">{{job}}</option>
          </select>
        </div>

        <div class="select-style">
          <select ng-model="$ctrl.data.compamySize.value" name="compamySize"
                  ng-class="'ng-dirty' && membership.compamySize.$invalid ?  'error' :''" required>
            <option value="" selected>PLEASE SELECT COMPANY SIZE*</option>
            <option ng-repeat="size in $ctrl.compamySizes" value="{{size}}">{{size}}</option>
          </select>
        </div>

        <div class="select-style">
          <select ng-model="$ctrl.data.industry.value" name="industry"
                  ng-class="'ng-dirty' && membership.industry.$invalid ?  'error' :''" required>
            <option value="">PLEASE SELECT INDUSTRY*</option>
            <option ng-repeat="ind in $ctrl.industries" value="{{ind}}">{{ind}}</option>
          </select>
        </div>

        <div class="select-style">
          <select ng-model="$ctrl.data.country.value" name="country"
                  ng-class="'ng-dirty' && membership.country.$invalid ?  'error' :''" required>
            <option value="">PLEASE SELECT COUNTRY*</option>
            <option ng-repeat="cntry in $ctrl.countries" value="{{cntry}}">{{cntry}}</option>
          </select>
        </div>

      </div>

      <div class="col-lg-4 col-md-4 membership-form">

        <div>
          <p style="float: none">
            <input type="checkbox" id="test5" ng-model="$ctrl.permissions['Daily Insights']"/>
            <label for="test5">Daily Insight</label>
          </p>
          <p style="float: none">
            <input type="checkbox" id="test6" ng-model="$ctrl.permissions['Research Partner']"/>
            <label for="test6">Research Reports</label>
          </p>
          <p style="float: none">
            <input type="checkbox" id="test7" ng-model="$ctrl.permissions['Education Offerings']"/>
            <label for="test7">Education Offerings</label>
          </p>
          <p style="float: none">
            <input type="checkbox" id="test8" ng-model="$ctrl.relationship['Expert Panelist']"/>
            <label for="test8">Join Expert Panel</label>
          </p>
        </div>

        <div class="button">
          <buton class="btn" ng-click="$ctrl.submitInquiry()">SUBMIT INQUIRY</buton>
        </div>
      </div>
      </form>
    </div>
  </div>
</section>
