<section ng-init="$ctrl.init()">
    <div class="container-fluid  text-center title">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-lg-offset-4">
                <h3>Cart</h3>
                <div class="line"></div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="button membership">
                    <button class="btn join-btn" ng-click="$ctrl.gotoElement('prefooter')">JOIN</button>
                </div>
            </div>
        </div>
    </div>
</section>