<section>
  <div class="staffs-container container-fluid" ng-init="$ctrl.init()">
    <div class="row">
      <div class="col-lg-4 col-md-4 text-center staff-item" ng-repeat="item in $ctrl.pageData">
        <div class="img-responsive background-image"
             style="background: {{'url(' + item.image_url +') top center'}};
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 170px;
                    width: 170px;
                    border-radius: 50%;
                    background-color: #000;
                    margin: auto"
        >
        </div>
        <div class="speaking_item" style="padding-top: 15px">
          <div><a href="">{{item.first_name}} {{item.last_name}}</a>
            <p> — {{item.title}}</p>
          </div>
          <div class="cutted-text-speaker"><p ng-bind-html="item.bio"></p></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="speaking_engagements">
  <div class="container-fluid  text-center">
    <h3>{{$ctrl.pageData.title}}</h3>
    <div class="line"></div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-3 justify" ng-bind-html="$ctrl.pageData.editor">
      </div>
      <form name="speaking">
        <div class="col-lg-6 col-md-6 membership-form">
          <div class="forms">
            <div class="membr-block">
              <input ng-model="$ctrl.firstName" ng-value="$ctrl.firstName" type="text" id="firstName" name="firstName"
                     ng-class="'ng-dirty' && speaking.FirstName.$invalid ?  'error' :''" required>
              <label for="firstName">FIRST NAME <span class="red-text">*</span></label>
            </div>
            <div class="membr-block">
              <input ng-model="$ctrl.email" ng-value="$ctrl.email" type="text" id="email" name="email"
                     ng-class="'ng-dirty' && speaking.Email.$invalid ?  'error' :''" required>
              <label for="email">EMAIL <span class="red-text">*</span></label>
            </div>
            <div class="membr-block">
              <input ng-model="$ctrl.jobTitle" ng-value="$ctrl.jobTitle" type="text" id="jobTitle" name="jobTitle"
                     ng-class="'ng-dirty' && speaking.jobTitle.$invalid ?  'error' :''" required>
              <label for="jobTitle">JOB TITLE <span class="red-text">*</span></label>
            </div>
          </div>

          <div class="forms-right">
            <div class="membr-block">
              <input ng-model="$ctrl.lastName" ng-value="$ctrl.lastName" type="text" id="lastName" name="lastName"
                     ng-class="'ng-dirty' && speaking.LastName.$invalid ?  'error' :''" required>
              <label for="lastName">LAST NAME <span class="red-text">*</span></label>
            </div>
            <div class="membr-block">
              <input ng-model="$ctrl.company" ng-value="$ctrl.company" type="text" id="company" name="company"
                     ng-class="'ng-dirty' && speaking.company.$invalid ?  'error' :''" required>
              <label for="company">COMPANY <span class="red-text">*</span></label>
            </div>
            <div class="membr-block">
              <input ng-model="$ctrl.request" ng-value="$ctrl.request" type="text" id="request" name="request"
                     ng-class="'ng-dirty' && speaking.request.$invalid ?  'error' :''" required>
              <label for="request">REQUEST A SPECIFIC SPEAKER <span class="red-text">*</span></label>
            </div>
          </div>

          <div class="membr-block" style="width:100%; float:left">
            <textarea rows="20" cols="1" ng-value="$ctrl.message" name="message" id="message" ng-model="$ctrl.message"
                      ng-class="'ng-dirty' && speaking.message.$invalid ?  'error' :''" required></textarea>
            <label for="message" style="top: 6%">MESSAGE <span class="red-text">*</span></label>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="button membership white" style="float:left; margin-right:10px; margin-bottom: 10px">
            <button class="btn" ng-click="$ctrl.speaking()">
              SUBMIT
            </button>
          </div>
          <div class="button membership" style="float:left; ">
            <button class="btn" ui-sref="membership({scrollTo: true})">MEMBERSHIP</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
